/*=== Variables ===*/

$font: Raleway, sans-serif, Arial, Helvetica;
$default-font-size: 16px;
$small-font: 12px;
$border-radius: 25px;

$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$default-color: hsla(120, 33%, 30%, 1);
$second-color: hsla(0, 0%, 18%, 1);
$background-color: hsl(0, 100%, 100%);
$link-color: $white;

$default-line: 40px;
$media-line-height: 25px;